/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #33AFFF;
    color: #333;
}

header {
    background: #5DE2E7;
    color: #000000;
    padding: 1em 0;
    text-align: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 1.2em;
}

main {
    padding: 20px;
}

footer {
    background-color: #060270;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.about-me, .projects, .interests {
    margin: 20px 0;
}

.about-me img, .projects img, .interests img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

/* Responsive Design */
@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }
}
